/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*  reset all styles bring to a base to work from*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* clear fix */
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  clear: both;
  *zoom: 1;
}

.container {
  margin:5px;
  padding: 5px;
  border-style: solid;
  border-color: #F5F6F7;
  border-width: 2px;
  background-color: #fff;
}

body {
  font-family: 'Lucida Grande';
  background-color: #EBEEF0;
}

button {
  background-color: #96BF48;
  color: #FFF;
}

button.destructive {
  background-color: #CC4E4B;
}

#create-product-button {
  display: block;
}

#product-list-container {
  display: inline-block;
  float :left;
  margin : 10px;
}

#product-list-container div{
  border-color: #96BF48;
}

#product-list-container div * {
  margin: 2px;
}

#product-editor-container {
  display: inline-block;
  margin : 5px;
  width: 800px;
}

#product-list { 
  list-style-type: none;
}

#product-list li {
  margin:2px;
  padding: 2px;
  background-color: #EBEFF0;
  cursor:default;
}

#product-list li:hover{
  background-color: #FAFEFF;
}

.button {
  background-color: #96BF48;
  color:#FFF;
  padding: 2px;
  margin:2px;
}

#identity-info-container {
  border-width: 2px;
  border-style: solid;
  border-color: #96BF48;
  padding: 0;
  padding-bottom: 3px;
}

#identity-info-container * {
  margin: 2px;
  padding: 2px;
}

#title-container * {
  display: inline-block;
  padding: 0px 10px;
  width: auto;
  font-size: 24;
}

#title-container input {
  border: 0;
  font-size: 18px;
  width:auto;
}

.label {
  background-color: #96BF48;
  color:#FFF;
  width:auto;
  padding: 2px;
  cursor: default;
}

#title-container {
  border-style: solid;
  border-width: 2px;
  border-color: #96BF48;
  background-color: #96BF48;
  padding: 0;
}

#identity-info-container input {
  margin-left: 30px;
  padding: 0 30px;
  font-size: 18;
}

#images-container {
  border-width: 2px;
  border-style: solid;
  border-color: #96BF48;
  background-color: #F5F5F5;
}

#images-container * {
  font-size: 24;
  display: block; 
}

#images-container ul {
  padding: 15px;
  margin: 5px;
  list-style-type: none;
  display: inline-block;
}

#images-container .product-image {
  height: 128px;
  width: 128px;
}

#images-container input {
  font-size: 14;
}

#html-body-container {
  border-width: 2px;
  border-style: solid;
  border-color: #96BF48;
}

#html-body-container *{
  margin: 2px;
  font-size: 14;
}

#tags-container {
  border-width: 2px;
  border-style: solid;
  border-color: #96BF48;
  padding: 0;
}

#tags-container * {
  margin:2px;
  padding: 2px;
  cursor: default
}

#tags-container .tag {
  font-size: 12;
  border-radius: 2px;
  background-color: #A5A5A5;
  color: #FFF;
  display: inline-block;
  padding: 4px;
}

.delete-button {
  color: #555;
  background-color: #A5A5A5;
  display: inline-block;
}

#tag-list {
  list-style-type: none;
}

#variants-container {
  border-width: 2px;
  border-style: solid;
  border-color: #96BF48;
}

#variants-container * {
  margin: 2px;
  padding: 2px;
}

#variants-container #options-values {
  width: 60%;
}

#variants-container .label {
  margin:1px;
}

#option-container input {
  display: inline-block;
}

#timestamp-info-container {
  font-size: 12;
  border-width: 2px;
  border-style: solid;
  border-color: #96BF48;
}

#delete-object-button {
  float:right;
}


